# Twilio - Obtenir sur https://console.twilio.com
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_PHONE_NUMBER=+1234567890

# CinetPay - Obtenir sur https://cinetpay.com (dashboard > integration)
CINETPAY_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CINETPAY_SITE_ID=0000000
CINETPAY_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CINETPAY_BASE_URL=https://api-checkout.cinetpay.com/v2
